.git
__**
.remote*
.tmp.*
.vs
**secret.js
**secret.php
**secret.json
**secret.yaml
**private**
**node_modules**
/config
/vendor
/share
/webroot
/bu
/cert
*[a-zA-Z][0-9].js
*[a-zA-Z][0-9].css
*[a-zA-Z][0-9].html
*[a-zA-Z][0-9].yaml
*[a-zA-Z][0-9].md
*[a-zA-Z][0-9].php
data.json
